.jumbotron {
	background-color: orange;
	color: black;
}
footer {
	background-color: yellow;
	padding: 10px 10px 0 10px
	margin-bottom: 0px; 
	margin-top: 10px;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 6px 2px 6px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%	
}